# Google Drive icons
*.ini

# Vscode
# .vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
notebooks/.ipynb_checkpoints

# env variables
.env

# Local models
local_models/*
!local_models/.gitkeep

# local logs
logs/scores.local.csv
logs/search_params/*
!logs/search_params/.gitkeep
